<h1>{{title}}</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>QuestionType</th>
        <th>Account_ID</th>
        <th>Upvotes</th>
        <th>Visited</th>
    </tr>
    <tr *ngFor="let q of listquestions">
        <th>{{q.id}}</th>
        <th>{{q.question}}</th>
        <th>{{q.account_ID}}</th>
        <th>{{q.questionType}}</th>
        <th>{{q.upvotes}}</th>
        <th>{{q.visited}}</th>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>ID</th>
        <th>Answers</th>
        <th>question_ID</th>
        <th>account_ID</th>
        <th>upvotes</th>
        <th>visited</th>
    </tr>
    <tr *ngFor="let a of listanswers">
        <th>{{a.id}}</th>
        <th>{{a.answers}}</th>
        <th>{{a.question_ID}}</th>
        <th>{{a.account_ID}}</th>
        <th>{{a.upvotes}}</th>
        <th>{{a.visited}}</th>
    </tr>
</table>
<hr>
<table>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
    </tr>
    <tr *ngFor="let a of listaccounts">
        <th>{{a.id}}</th>
        <th>{{a.email}}</th>
        <th>{{a.username}}</th>
        <th>{{a.password}}</th>
    </tr>
</table>
